<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  colors="true"
  testdox="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="product">
      <file>tests/ProductServiceMockTest.php</file>
      <file>tests/ProductServiceTest.php</file>
    </testsuite>
    <testsuite name="counter">
      <file>tests/CounterStaticTest.php</file>
      <file>tests/CounterTest.php</file>
    </testsuite>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
